.global{
    margin-left: 50px;
    margin-right: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    gap: 5em;
    margin-right: 3em;
}
.navbar-a{
      color: black;
      text-decoration:none;    
      display: inline-block;
      padding: 10px 20px;
      text-align: center;
      font-size: 16px;
      border: 2px solid transparent; /* Bordure invisible par défaut */
      transition: border-color 0.3s ease; /* Animation fluide */
    }
.navbar-a:hover{
      border-top-color: blue; /* Bordure bleue uniquement en haut */
      color: #0065FC ;
}


.rechercher{
    display: flex;
    align-items: flex-start;
}
.rechercher-img{
    padding : 0.2em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #D9D9D9;
    
}
.bouton-rechercher{
    color:white;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.filtres{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer{
    margin-bottom: -10px;
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    padding: 2em;
    list-style-type: none;
    justify-content: space-around;
    align-content: center;

}

footer ul {
  list-style-type: none;
}

/* traitement de texte */

.gras{
    font-weight: bold;
}

/* fin de traitement de texte */

.bouton-filtre{
}

/* traitement des cards */
.card-hebergement{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #f2f2f2;
    height : 199px;
    padding : 5px;
    }
.card-hebergement-header{
}
.card-hebergement-img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    height : 124px;

    }
.card-hebergement-body{
    line-height: 0.2em;
}
/* fin de traitement des cards */

/* Partie Image */

.gestion-grille-hebergement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 4fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  margin : 20px;
}

.stars{
    color : #0065FC;
    font-size: 0.625em;
}

.transparent{
    color:grey;
    opacity: 0.5;
}

.hebergement{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap : 5em;
}

.background{
    background-color: #D9D9D9;
    border-radius: 20px;
    padding : 20px;
}

.card-populaire{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: #f2f2f2;
    height : 144px;
    padding : 5px;
    }

    .card-populaire-img
    {
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    width: 137px; 
    }

  .gestion-grille-populaire {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  margin : 20px;
}

.card-populaire-body{
    line-height: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.grid-activite{
    display: grid;
    grid-template-columns : repeat(4, 1fr);
    grid-gap: 30px;
}

.activite-img{
    height: 389px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 302px;
}

.activite-card{
    box-shadow: 0px 3px 15px 0px #0000001A;
    height: 444px;
    border-radius: 20px;
    width: 302px;
}

.activite-card-txt{
    margin-left : 10px;
}