footer
{
    display: flex;
    flex-direction: row;
    gap : 20em;
    padding: 2em;
}

.columns3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.hebergement
{
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.card-star{
    color: #0065FC ;
}

.card-section-img{
    width: 100%;
    height: 20em;
}

.activites
{
    display: flex;
    flex-direction: row;
    gap: 5em;
}