header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 a {
      color: black;
      text-decoration:none;    
      display: inline-block;
      padding: 10px 20px;
      text-align: center;
      font-size: 16px;
      border: 2px solid transparent; /* Bordure invisible par défaut */
      transition: border-color 0.3s ease; /* Animation fluide */
    }
    a:hover {
      border-top-color: blue; /* Bordure bleue uniquement en haut */
      color: #0065FC ;
    }

nav
{
    display: flex;
    gap: 5em;
    margin-right: 3em;
}

footer{
    display: flex;
    flex-direction: row;
    gap : 20em;
    padding: 2em;
}





